.cover__link {
  margin: 0 auto 20% auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../images/cover-route-66.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}
