.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #FFFFFF;
  margin: 0 5% 10% 5%;

}

@media screen and (min-width: 700px) {
  .place__title {
    margin: 0;
    margin-bottom: 48px;
    font-size: 42px;
  }
}

@media screen and (min-width: 990px) {
  .place__title {
    font-size: 72px;
    line-height: 1.05;
  }
}
