@import url('__image/photo-grid__image.css');
@import url('__item/photo-grid__item.css');

.photo-grid {
  width: auto;
  margin: 0 5% 20% 5%;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 12px;
}

@media screen and (min-width: 700px) {
  .photo-grid {
    margin: 0 3.1% 11.4% 3.1%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
  }
}
