@import url('__lang-link/header__lang-link.css');
@import url('__lang-link/_active/header__lang-link_active.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 6.25% 5% 15.6% 5%;
}

@media screen and (min-width: 700px) {
  .header {
    margin: 4.4% 3.1% 6.5% 3.1%;
  }
}
