.place__paragraph {
  width: 100%;
  margin: 0 auto 7.5% auto;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  color: #FFFFFF;
}

.place__paragraph:last-child {
  margin: 0;
  line-height: 169.4%;
}

@media screen and (min-width: 990px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 1.66;
  }
}

