.intro__text {
  margin: 0;
  margin-bottom: 12.5%;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (min-width: 700px) {
  .intro__text {
    margin-bottom: 4.1%;
  }
}
