.cover__text {
  width: 228px;
  margin: 0 auto 15.6% auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
