.lead__subtitle {
  max-width: 288px;
  margin: 0 auto 12.5% auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 700px) {
  .lead__subtitle {
    max-width: 620px;
    margin: 0 auto 9.6% auto;
    font-size: 30px;
    line-height: 36px;
  }
}
