@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

.page {
  background: #2A2C2F;
}

.page__container {
  min-width: auto;
  max-width: 768px;
  margin: 0 auto;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 6.25% 5% 15.6% 5%;
}

.logo {
  width: 156px;
  margin: 0;
}

.header__lang-link {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  margin-left: 18px;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  width: 100%;
}

.lead__title {
  margin: 0 5% 5% 5%;
  max-width: 100%;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.lead__subtitle {
  max-width: 288px;
  margin: 0 auto 12.5% auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  width: 100%;
  margin: 0 auto 8px auto;
}

.lead__caption {
  width: auto;
  margin: 0 auto 20% 5%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
}

.intro {
  width: auto;
  margin: 0 5% 20% 5%;
  display: block;
}

.intro__title {
  margin: 0;
  margin-bottom: 12.5%;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
}


.intro__subtitle {
  margin: 0;
  margin-bottom: 10%;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.intro__text {
  margin: 0;
  margin-bottom: 12.5%;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.intro__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__numbers {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.intro__span-accent {
  font-weight: bold;
}
