.cover__title {
  width: auto;
  margin: 15.9% 5% 5% 5%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
