.cover__title {
  position: relative;
  z-index: 1;
  width: auto;
  margin: 15.9% 5% 5% 5%;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 700px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.05;
  }
}
