@import url('__items/footer__items.css');
@import url('__links/footer__links.css');
@import url('__item/footer__item.css');
@import url('__link/footer__link.css');
@import url('__copyright/footer__copyright.css');

.footer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 5% 24px 5%;
}

@media screen and (min-width: 700px) {
  .footer {
    flex-direction: row;
    margin: 0 3.1% 24px 3.1%;
  }
}

@media screen and (min-width: 990px) {
  .footer {
    flex-direction: row;
    margin: 0 4.6% 24px 4.6%;
  }
}

@media screen and (min-width: 1140px) {
  .footer {
    flex-direction: row;
    margin: 0 0 24px 0;
  }
}
