.intro__title {
  margin: 0;
  margin-bottom: 12.5%;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #FFFFFF;
}

@media screen and (min-width: 700px) {
  .intro__title {
    margin-bottom: 5.2%;
    font-size: 54px;
    line-height: 1.07;
  }
}
